/* CSS Document */
body {
    font:16px arial;
    color: #222;
    text-align:center;
    padding:4px; }

form, p, span {
    margin:0;
    padding:0;
}

input {
    clear: none;
    font:16px arial;
    display: inline-block;
}

a {
    color:#0000FF;
    text-decoration:none; }

    a:hover { text-decoration:underline; }

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }

#sendform {
    width: 768px;
}

.msgln {
    font-size: 16px;
    width: 640px;
    font-family: 'Noto Sans', 'Liberation Sans', 'Arial', 'Helvetica', sans-serif;
}

.msgai {
    margin: 0 auto 2px 0;
    background-color: #F3F8EE;
}

.msguser {
    margin: 0 0 2px auto;
    background-color: #AFD89D;
}

.chatboxname {
    font-size: 17px;
    font-weight: bold;
}

.time {
    text-align: right;
    font-size: 14px;
    font-family: 'Noto Sans', 'Liberation Sans', 'Arial', 'Helvetica', sans-serif;
}

.btn {
    display: inherit;
}

#loginform { padding-top:18px; }

    #loginform p { margin: 5px; }

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:448px;
    width:768px;
    border:3px solid #ACD8F0;
    overflow:auto; }

#usermsg {
    width:640px;
    border:1px solid #ACD8F0;
    margin: 0 0 0 0;
}

#submitmsg {
    width: 64px;
    margin: 0 0 0 auto;
}

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }

.logout { float:right; }
